/* Estilos generales */
.hero-banner {
    /* background-color: #343a40; */
    color: white;
    text-align: center;
    padding: 100px 0;
}

.sobre-nosotros {
    text-align: center;
    background-color: #004085;
    color: white;
    margin-top: 0px !important;
    padding: 20px;
}

.tc {
    margin-top: 0px !important;
    padding: 20px;
}

.btn-send {
    background-color: #004085;
    border: 1px;
}

.red-hover:hover {
    background-color: rgb(255, 0, 0) !important;
    border: 1px red;
}

.color-site {
    color: #004085;
}

/* Estilos para mapas */
.map-container {
    height: 300px;
    margin-top: 10px;
}

/* Estilos para formulario */
#shipmentForm {
    max-width: 700px;
    margin: auto;
}

/* Estilos para footer */
.footer {
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Estilos iconos */
.vehicle-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.vehicle-image img {
    max-width: 100px;
    /* Ajusta el tamaño según sea necesario */
    width: 70%;
    height: auto;
    display: block;
    /* Asegura que las imágenes sean visibles */
}