/* Estilos generales */
.hero-banner {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.sobre-nosotros {
    text-align: center;
}

/* Estilos para mapas */
.map-container {
    height: 300px;
    margin-top: 10px;
}

/* Estilos para formulario */
#shipmentForm {
    max-width: 700px;
    margin: auto;
}

/* Estilos para footer */
.footer {
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
}
